{% extends 'portfolio/layout.html' %}

{% load static %}

{% block content %}
    <!-- Projects Section -->
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="section-title">lincen<span>c</span>iatura</h1>
            </div>
            <div class="all-projects">
                <div class="table-responsive">
                    <table class="table">
                        <caption>Despacho n.º 22242/2008, de 27 de agosto, alterado pelo Despacho n.º 7895/2020, de
                            12 de agosto
                        </caption>
                        <tbody>
                        <tr>
                            <th>1.º Ano/ Tronco comum</th>
                            <th>Semestre</th>
                            <th>ECTS</th>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/fundamentos-de-fisica/ULHT260-7336"
                                   target="_blank">Fundamentos de Física</a></td>
                            <td>Semestral</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/licenciaturas/engenharia-informatica/fundamentos-de-programacao/ULHT260-7337"
                                   target="_blank">Fundamentos de Programação</a></td>
                            <td>1º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/matematica-discreta/ULHT260-1656"
                                   target="_blank">Matemática Discreta</a></td>
                            <td>1º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/matematica-i/ULHT260-1"
                                   target="_blank">Matemática I</a></td>
                            <td>1º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/sistemas-digitais/ULHT260-7"
                                   target="_blank">Sistemas Digitais</a></td>
                            <td>1º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/algebra-linear/ULHT260-2091"
                                   target="_blank">Álgebra Linear</a></td>
                            <td>2º Semestre</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/licenciaturas/engenharia-informatica/algoritmia-e-estruturas-de-dados/ULHT260-13397"
                                   target="_blank">Algoritmia e Estruturas de Dados</a></td>
                            <td>2º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/licenciaturas/engenharia-informatica/arquitetura-de-computadores/ULHT260-5857"
                                   target="_blank">Arquitetura de Computadores</a></td>
                            <td>2º Semestre</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/licenciaturas/engenharia-informatica/competencias-comportamentais/ULHT260-17267"
                                   target="_blank">Competências Comportamentais</a></td>
                            <td>2º Semestre</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/licenciaturas/engenharia-informatica/linguagens-de-programacao-i/ULHT260-498"
                                   target="_blank">Linguagens de Programação I</a></td>
                            <td>2º Semestre</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/matematica-ii/ULHT260-505"
                                   target="_blank">Matemática II</a></td>
                            <td>2º Semestre</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th>2.º Ano/ Tronco comum</th>
                            <th>Semestre</th>
                            <th>ECTS</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="/licenciaturas/engenharia-informatica/arquiteturas-avancadas-de-computadores/ULHT260-13398"
                                   target="_blank">Arquiteturas Avançadas de Computadores</a></td>
                            <td>1º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/bases-de-dados/ULHT260-1792"
                                   target="_blank">Bases de Dados</a></td>
                            <td>1º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/licenciaturas/engenharia-informatica/linguagens-de-programacao-ii/ULHT260-898"
                                   target="_blank">Linguagens de Programação II</a></td>
                            <td>1º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/sinais-e-sistemas/ULHT260-7339"
                                   target="_blank">Sinais e Sistemas</a></td>
                            <td>1º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/sistemas-operativos/ULHT260-6305"
                                   target="_blank">Sistemas Operativos</a></td>
                            <td>1º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/computacao-grafica/ULHT260-2267"
                                   target="_blank">Computação Gráfica</a></td>
                            <td>2º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/licenciaturas/engenharia-informatica/engenharia-de-requisitos-e-testes/ULHT260-22512"
                                   target="_blank">Engenharia de Requisitos e Testes</a></td>
                            <td>2º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/programacao-web/ULHT260-11195"
                                   target="_blank">Programação Web</a></td>
                            <td>2º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/redes-de-computadores/ULHT260-1793"
                                   target="_blank">Redes de Computadores</a></td>
                            <td>2º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/licenciaturas/engenharia-informatica/sistemas-de-suporte-a-decisao/ULHT260-7303"
                                   target="_blank">Sistemas de Suporte à Decisão</a></td>
                            <td>2º Semestre</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <th>3.º Ano/ Tronco comum</th>
                            <th>Semestre</th>
                            <th>ECTS</th>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/trabalho-final-de-curso/ULHT260-5140"
                                   target="_blank">Trabalho Final de Curso</a></td>
                            <td>Anual</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/computacao-distribuida/ULHT260-7348"
                                   target="_blank">Computação Distribuída</a></td>
                            <td>1º Semestre</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/data-science/ULHT260-22513"
                                   target="_blank">Data Science</a></td>
                            <td>1º Semestre</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/engenharia-de-software/ULHT260-7341"
                                   target="_blank">Engenharia de Software</a></td>
                            <td>1º Semestre</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/licenciaturas/engenharia-informatica/interacao-humano-maquina/ULHT260-11047"
                                   target="_blank">Interação Humano-Máquina</a></td>
                            <td>1º Semestre</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/computacao-movel/ULHT260-16925"
                                   target="_blank">Computação Móvel</a></td>
                            <td>2º Semestre</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/inteligencia-artificial/ULHT260-2129"
                                   target="_blank">Inteligência Artificial</a></td>
                            <td>2º Semestre</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td><a href="/licenciaturas/engenharia-informatica/seguranca-informatica/ULHT260-11194"
                                   target="_blank">Segurança Informática</a></td>
                            <td>2º Semestre</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/licenciaturas/engenharia-informatica/sistemas-de-informacao-na-nuvem/ULHT260-22514"
                                   target="_blank">Sistemas de Informação na Nuvem</a></td>
                            <td>2º Semestre</td>
                            <td>5</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Section -->

{% endblock %}