{% load static from static %}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/app.js' %}">
    <title>My Website</title>
</head>

<body>

<!-- Header -->
<section id="header">
    <div class="header container">
        <div class="nav-bar">
            <div class="brand">
                <a href="about">
                    <h1><span>R</span>ui <span>R</span>odrigues</h1>
                </a>
            </div>
            <div class="nav-list">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="blog_list">Blog</a></li>
                    <li><a href="login">Log in</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Header -->

<!-- body -->
<main>
    {% block content %}
    {% endblock content %}
</main>
<!-- End body -->
</body>