{% extends 'portfolio/layout.html' %}

{% block content %}
    <!-- Hero Section  -->
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Hello, <span></span></h1>
                <h1>My Name is <span></span></h1>
                <h1>Rui <span></span></h1>
                <a href="#projects" type="button" class="cta">Portfolio</a>
            </div>
        </div>
    </section>
    <!-- End Hero Section  -->

    <!-- Web Section -->
    <section id="services">
        <div class="services container">
            <div class="service-top">
                <h1 class="section-title">W<span>e</span>b</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum deleniti maiores pariatur assumenda
                    quas
                    magni et, doloribus quod voluptate quasi molestiae magnam officiis dolorum, dolor provident atque
                    molestias
                    voluptatum explicabo!</p>
            </div>
            <div class="service-bottom">
                {% for web in home_web %}
                    <div class="service-item">
                        {% load static %}
                        <div class="icon"><img src="{{ web.logo.url }} alt=" alt=""/></div>
                        <h2> {{ web.titulo }} </h2>
                        <p> {{ web.texto }} </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Web Section -->

    <!-- Projects Section -->
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="section-title">Recent <span>Projects</span></h1>
            </div>
            <div class="all-projects">
                {% for projeto in home %}
                    <div class="project-item">
                        <div class="project-info">
                            <h1>{{ projeto.titulo }} </h1>
                            <h2>{{ projeto.subtitulo }} </h2>
                            <p>{{ projeto.texto }} </p>
                        </div>
                        <div class="project-img">
                            {% load static %}
                            <img src="{{ projeto.image.url }}" alt="projeto">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Projects Section -->

    <!-- About Section -->
    <section id="about">
        <div class="about container">
            <div class="col-left">
                <div class="about-img">
                    <img src="{% static 'portfolio/image/rui.png' %}" alt="img">
                </div>
            </div>
            <div class="col-right">
                <h1 class="section-title">About <span>me</span></h1>
                <h2>Tecnico Helpdesk/Assistente administraivo Banca</h2>
                <p>Entre minhas características básicas encontram-se: adaptabilidade, bom humor, dinamismo,
                    responsabilidades, perfeccionismo, auto-exigência, dedicação ao trabalho e bom relacionamento em
                    geral...</p>
                <a href="about" class="cta"> Resume</a>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!-- Contact Section -->
    <section id="contact">
        <div class="contact container">
            <div>
                <h1 class="section-title">Contact <span>info</span></h1>
            </div>
            <div class="contact-items">
                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png"/></div>
                    <div class="contact-info">
                        <h1>Phone</h1>
                        <h2>+1 234 123 1234</h2>
                        <h2>+1 234 123 1234</h2>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png"/></div>
                    <div class="contact-info">
                        <h1>Email</h1>
                        <h2>info@gmail.com</h2>
                        <h2>abcd@gmail.com</h2>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png"/></div>
                    <div class="contact-info">
                        <h1>Address</h1>
                        <h2>Fatikchhari, Chittagong, Bangladesh</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->

{% endblock %}