{% extends 'portfolio/layout.html' %}

{% load static %}

{% block content %}
    <!-- Projects Section -->
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="section-title">lincen<span>c</span>iatura</h1>
                <div class="projects select2-container">
                    <p>O curso de licenciatura em Engenharia Informática da Universidade Lusófona forma licenciados
                        capazes
                        de assumir posições de destaque em projetos de engenharia informática ou equipas de
                        desenvolvimento
                        e consultadoria, na área da engenharia dos sistemas de informação, assumindo pela sua formação e
                        atitude papéis relevantes na geração de inovação e riqueza. Nesse sentido, os estudantes obtêm
                        as
                        competências adequadas à conceção, realização e manutenção de sistemas informáticos, programação
                        de
                        aplicações e de sistemas, desenho arquiteturas de computação e comunicações, gestão de sistemas
                        de
                        informação e de conhecimento, assim como à compreensão e resolução dos problemas associados.</p>
                </div>
            </div>
            <div class="all-projects">
                {% for linc_content in licenciatura %}
                    <div class="project-item">
                        <div class="project-info">
                            <h1>{{ linc_content.titulo }} </h1>
                            <h2>{{ linc_content.subtitulo }} </h2>
                            <p>{{ linc_content.texto }} </p>
                            <br>
                            <p>{{ linc_content.texto2 }} </p>
                            <br>
                            <p>{{ linc_content.texto3 }} </p>
                            <br>
                            <p>{{ linc_content.texto4 }} </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Projects Section -->

{% endblock %}