{% extends 'portfolio/layout.html' %}

{% load static %}

<!-- Projects Section -->
<section id="projects">
    <div class="projects container">
        <div class="projects-header">
            <h1 class="section-title">Recent <span>Projects</span></h1>
        </div>
        <div class="project-item">
            <div class="project-info">
                <h1>e</h1>
                <h2>Coding is Love</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum
                    impedit unde
                    rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque
                    libero non sunt
                    harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
            </div>
            <div class="project-img">
                <img src="./img/img-1.png" alt="img">
            </div>
        </div>
        <div class="project-item">
            <div class="project-info">
                <h1>Project 3</h1>
                <h2>Coding is Love</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum
                    impedit unde
                    rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque
                    libero non sunt
                    harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
            </div>
            <div class="project-img">
                <img src="./img/img-1.png" alt="img">
            </div>
        </div>
    </div>
    </div>
</section>
<!-- End Projects Section -->

{% block content %}

{% endblock %}